<!-- Header-->
<header class="header-2">
  <!-- End headerbox-->
  <div class="headerbox">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <!-- Logo-->
        <div class="col col-xl-2">
          <div class="logo">
            <a href="index.html" title="Return Home">
              <img src="assets/img/Logo vectoriel FTA typo 2 (2) (2).png" alt="Logo" class="logo_img">
            </a>
          </div>
        </div>
        <!-- End Logo-->
        <!-- Adds nav-->
        <div class="col col-xl-10">
          <!-- mainmenu-->
          <div id="undefined-sticky-wrapper" class="sticky-wrapper" style="height: 65%">
            <nav class="mainmenu">
              <div class="container">
                <!-- Menu-->
                <ul class="sf-menu sf-js-enabled sf-arrows" id="menu">
                  <li class="current">
                    <a routerLink="">Accueil</a>
                  </li>

                  <li>
                    <a href="#">FTA</a>
                    <div class="sf-mega">
                      <div class="row">
                        <div class="col-md-3">
                          <h5><i class="fa fa-trophy" aria-hidden="true"></i>FTA</h5>
                          <ul class="sf-menu sf-js-enabled sf-arrows">
                            <li><a routerLink="/presentation">Présentation</a></li>
                            <li><a routerLink="/bureau">Bureau fédéral</a></li>
                            <li><a routerLink="/commissions">Commission Fédérale</a></li>
                            <li><a routerLink="/ligues">Ligues</a></li>
                            <li><a routerLink="/clubs">Clubs</a></li>
                            <li><a routerLink="/centre_de_formation">Centres de formation</a></li>
                            <li><a routerLink="/reglements">Réglements</a></li>
                          </ul>
                        </div>

                        <div class="col-md-3">
                          <h5><i class="fa fa-users" aria-hidden="true"></i>Liste des clubs affiliés</h5>
                          <div class="img-hover">
                            <img src="assets/img/blog/Zied.jpg" alt="" class="img-responsive"
                                 style="width: 200px; height: 250px">
                            <div class="overlay"><a routerLink="/affiliated-clubs">+</a></div>
                          </div>
                        </div>

                        <div class="col-md-3">
                          <h5><i class="fa fa-futbol-o" aria-hidden="true"></i>Les élites nationaux</h5>
                          <div class="img-hover">
                            <img src="assets/img/blog/ramy1.jpg" alt="" class="img-responsive"
                                 style="width: 250px; height: 250px">
                            <div class="overlay"><a routerLink="/player-list">+</a></div>
                          </div>
                        </div>

                        <div class="col-md-3">
                          <h5><i class="fa fa-gamepad" aria-hidden="true"></i>Résultats Compétitions</h5>
                          <div class="img-hover">
                            <img src="assets/img/blog/3.jpg" alt="" class="img-responsive"
                                 style="width: 200px; height: 250px">
                            <div class="overlay"><a routerLink="/results">+</a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li class="current">
                    <a routerLink="/competition">Compétitons</a>
                    <ul class="sub-current">
                      <li>
                        <a routerLink="/competition">Liste des competitions</a>
                      </li>
                      <li>
                        <a routerLink="/course">Course sur route</a>
                      </li>
                      <li>
                        <a routerLink="/calendrier">Calendrier des competitions</a>
                      </li>
                      <li>
                        <a routerLink="/competition/categories">Catégorie</a>
                      </li>
                      <li>
                        <a routerLink="/competition/minimas">Minimas des athlétes ciblés </a>
                      </li>
                      <li>
                        <a routerLink="/benjamin">Benjamins et Minimes</a>
                      </li>
                      <li><a routerLink="/masters">MASTERS</a></li>
                      <li><a routerLink="/reglement">Réglements des compétitions</a></li>
                      <li><a routerLink="/results">Résultats</a></li>
                      <li><a routerLink="/records">Records</a></li>
                    </ul>
                  </li>

                  <!--li class="current">
                    <a routerLink="/player-list">Les élites nationaux</a>
                  </li-->

                  <li class="current">
                    <a routerLink="/formation_20">Formations</a>
                  </li>
                  <!--li>
                    <a routerLink="/engagement-licence">Engagements et Licences</a>
                  </li-->
                  <li>
                    <a routerLink="/galerie">Galerie</a>
                  </li>
                  <li class="current">
                    <a routerLink="/athlesante">Athle_Santé</a>
                  </li>
                  <li>
                    <a routerLink="/contact-us">Contact</a>
                  </li>
                  <!--li>
                    <a routerLink="/login">Login</a>
                  </li-->
                </ul>
                <!-- End Menu-->
              </div>
            </nav>
          </div>

          <!-- End mainmenu-->

          <!-- Call Nav Menu-->
          <a class="mobile-nav" href="#mobile-nav"><i class="fa fa-bars"></i></a>
          <!-- End Call Nav Menu-->
        </div>
        <!-- End nav Header-->
      </div>
    </div>
  </div>
  <!-- End headerbox-->
</header>
<!-- End Header-->


<!-- Mobile Nav-->
<div id="mobile-nav">
  <!-- Menu-->
  <ul>
    <li>
      <a routerLink="">Home</a>

    </li>

    <li>
      <a href="#">World Cup</a>
      <ul>
        <li>
          <a href="#">FTA</a>
          <ul>
            <li><a routerLink="/presentation">Présentationn</a></li>
            <li><a routerLink="/commissions">Commission fédérale</a></li>
            <li><a routerLink="/bureau">Bureau fédéral</a></li>
            <li><a routerLink="/ligues">Ligues</a></li>
            <li><a routerLink="/clubs">Clubs</a></li>
            <li><a routerLink="/centre_de_formation">Centres de formation</a></li>
            <li><a routerLink="/documents">Nos documents</a></li>
            <li><a routerLink="/Réglements">Réglements</a></li>
          </ul>
        </li>

        <li><a routerLink="/affiliated-clubs">Liste des clubs affiliés</a></li>
        <li><a routerLink="player-list">Les élites nationaux</a></li>
        <li><a routerLink="/results">Les Résultas des compétitions</a></li>
      </ul>
    </li>

    <li>
      <a routerLink="/competition">Compétitons</a>
      <ul>
        <li>
          <a routerLink="/competition">Liste des competitions</a>
        </li>
        <li>
          <a routerLink="/calendrier">Calendrier des competitions</a>
        </li>
        <li>
          <a routerLink="/competition/categories">Catégorie</a>
        </li>
        <li>
          <a routerLink="/competition/minimas">Minimas des athlétes ciblés </a>
        </li>
        <li>
          <a routerLink="/course">Course sur route</a>
        </li>
        <li>
          <a routerLink="/benjamin">Benjamins et Minimes</a>
        </li>
<!--        <li><a routerLink="/engagements">Engagements</a></li>-->
<!--        <li><a routerLink="/calendriers-comp">Calendriers</a></li>-->
        <li><a routerLink="/masters">MASTERS</a></li>
        <li><a routerLink="/rélement-com">Régements des compétitions</a></li>
        <li><a routerLink="/résultats">Résultats</a></li>
<!--        <li><a routerLink="/bilan">Bilan</a></li>-->
        <li><a routerLink="/records">Records</a></li>
      </ul>
    </li>

    <li>
      <a routerLink="/player-list">Les élites nationaux</a>
    </li>

    <li>
      <a routerLink="/formation_20">Formations</a>
    </li>
    <li>
      <a routerLink="/engagement-lic">Engagements et Licenses</a>
    </li>
    <li>
      <a routerLink="/evenement">Galerie</a>
    </li>
    <li>
      <a routerLink="/athlesante">Athle_Santé</a>
      <ul class="sub-current">
        <li><a routerLink="/Projet">Projet Athle-santé</a></li>
        <li><a routerLink="/Programme">Programme</a></li>
        <li><a routerLink="/engagement-athle">Engagements</a></li>

      </ul>
    </li>

    <li>
      <a routerLink="/contact-us">Contact</a>
    </li>
    <li>
      <a routerLink="/login">Login</a>
    </li>


  </ul>
  <!-- End Menu-->
</div>
<!-- End Mobile Nav-->
