<!-- layout-->
<div id="layout">

  <!-- Section Title -->
  <div class="section-title" style="background:url(assets/img/slide/1.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>Centre des formations</h1>
        </div>

        <div class="col-md-4">
          <div class="breadcrumbs">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li>Inner Page</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Section Title -->

  <!-- Section Area - Centre des formations -->
  <app-centres-list *ngFor="let centre of centres" class="col-md-3 col-lg-4 col-xl-3" [centre]="centre" ></app-centres-list>
  <!-- End Section Area -  Centre des formations -->
</div>
<!-- End layout-->
