<!-- layout-->
<div id="layout">


  <!-- Section Title -->
  <div class="section-title" style="background:url(../../assets/img/slide/1.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>Réglements</h1>
        </div>

        <div class="col-md-4">
          <div class="breadcrumbs">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li>Inner Page</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Section Title -->

  <!-- Section Area - Content Central -->
  <section class="content-info">

    <div class=" paddings-mini">
      <div class="row container">

        <div class="col-lg-10 container">
          <h3 class="clear-title">Réglements</h3>
        </div>
      </div>
    </div>
<!-- <<<<<<< HEAD -->
    <!-- reglement links -->
<!--    <div class="container col-lg-8">-->

<!--      <div class="list-group  ">-->

<!--        <div class="card card-image" style="background-image: url(../../assets/img/slide/3.jpg);">-->

<!--          &lt;!&ndash; Content &ndash;&gt;-->
<!--          <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">-->
<!--            <div>-->

<!--              <h3 class="card-title pt-2"><strong><br></strong></h3>-->
<!--              <a href=""><h1 style="color: #01D099; padding-left: 300px;" >Réglements</h1></a>-->
<!--              <a class="btn btn-pink" style="padding-left: 300px; font-size: 20px;"><i class="fas fa-clone left"></i> Ouvrir</a>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->


<!--      </div>-->

<!--    </div>-->
    <!-- Reglement Links End -->
<!--=======-->
<!--    &lt;!&ndash; Document links &ndash;&gt;-->
    <div class="container col-lg-8">

      <div class="list-group  ">
        <a  class="list-group-item list-group-item-action "
           STYLE="color: #d52f37;">Réglements généraux</a>
        <embed class="" [src]="sanitizer.bypassSecurityTrustResourceUrl(path1)" type="application/pdf" width="100%"
               height="800px"/>
        <br>

        <a href="src/assets/Files/النظام الداخلي.pdf" class="list-group-item list-group-item-action "
           download="reglement_internes" STYLE="color: #d52f37;">Réglements internes</a>
        <embed class="" [src]="sanitizer.bypassSecurityTrustResourceUrl(path2)" type="application/pdf" width="100%"
               height="800px"/>
        <br>

        <a href="src/assets/Files/النظام الداخلي.pdf" class="list-group-item list-group-item-action "
           download="reglement_internes" STYLE="color: #d52f37;">Procédures internes</a>
        <embed class="" [src]="sanitizer.bypassSecurityTrustResourceUrl(path2)" type="application/pdf" width="100%"
               height="800px"/>
      </div>

    </div>
<!--    &lt;!&ndash; Document Links End &ndash;&gt;-->
<!--&gt;>>>>>> master-->

    <br>
    <br>

  </section>
  <!-- End Section Area -  Content Central -->

</div>
<!-- End layout-->
