<div class="item-team">
  <div class="head-team text-center">
    <img class="image" [src]="((centre.image)?(centre.image):('assets/img/workers/FTA.png'))" [alt]="centre.image">
  </div>
  <div class="info-team">
    <h3><strong>{{centre.name}}</strong></h3>
    <h4><strong>Directeur du centre: </strong>{{centre.directeur}}</h4>
    <h4><strong>Num Tél: </strong>{{centre.num}}</h4>
  </div>
  <br>
  <div class="btn"></div>
</div>
