<div id="layout" >
  <!-- Section Title -->
  <div class="section-title" style="background:url(assets/img/slide/1.jpg)">
  </div>
  <!-- End Section Title -->
  <!-- Dark Home -->
  <div class="col-xl-10 mx-auto col-md-12" style="padding-bottom: 150px">
    <!-- Nav Tabs -->
    <ul class="nav nav-tabs" id="myTab">
      <li class="active" ><a href="#description" data-toggle="tab" >DESCRIPTION</a></li>
    </ul>
    <!-- End Nav Tabs -->

    <!-- Content Tabs -->
    <div class="tab-content" >
      <!-- Tab One - Description -->
      <div class="tab-pane active" id="description">
        <embed src="assets/Files/site_formation.pdf" type="application/pdf" width="100%" height="1000px"/>
      </div>
      <!-- end Tab One - Description -->
    </div>
  </div>
  <!-- Left Content - Tabs and Carousel -->
</div>
<!-- End layout-->

