
<div class="container padding-top">

    <!-- Item galerie -->

      <div class="item-player">
        <div class="head-player">
          <img alt="location-team" [src]="galerie.galerieImgPath"/>
          <!--div class="overlay"><a [href]="galerie.galeriePath" >+</a></div-->
        </div>
        <div class="info-player">
          <span class="number-player">
              {{i+1}}
          </span>
          <!--h4>
            {{galerie.galerieTitle}}
          </h4-->
        </div>
      </div>

    <!-- End Item galerie -->

</div>
