<!-- layout-->
<div id="layout">

  <!-- Section Title -->
  <div class="section-title" style="background:url(assets/img/slide/1.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>Galerie</h1>
        </div>

        <div class="col-md-4">
          <div class="breadcrumbs">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li>Inner Page</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Section Title -->

  <!-- Section Area - Content Central -->
  <section class="content-info">

    <div class="container paddings-mini">
      <div class="row">

        <div class="col-lg-12">
          <!-- Content Text-->
          <div class="panel-box">
            <div class="titles">
              <h4>Galerie</h4>
            </div>

            <!-- Post Item -->
            <div class="portfolioContainer">
              <div class="row">
                <video class="col-lg-12" controls autoplay>
                  <source src="../../assets/img/Photos%20Site%20Web/vidéo/2020-10-30-10-02-16-3384%20hd.mp4">
                </video>
                <video class="col-lg-6" height="360" controls>
                  <source src="../../assets/img/Photos%20Site%20Web/vidéo/Habibet Tounes hd.mp4">
                </video>
                <video class="col-lg-6" height="360" controls>
                  <source src="../../assets/img/Photos%20Site%20Web/vidéo/After-Movie 20eme Championnat Arabe dAthletisme -     hd.mp4">
                </video>
                <video class="col-lg-6" height="360" controls>
                  <source src="../../assets/img/Photos%20Site%20Web/vidéo/3000     hd (1).mp4">
                </video>
                <video class="col-lg-6" height="360" controls>
                  <source src="../../assets/img/Photos%20Site%20Web/vidéo/BIBI Queen Of Steeple-chase   hd.mp4">
                </video>
                <video class="col-lg-4" height="360" controls>
                  <source src="../../assets/img/Photos%20Site%20Web/vidéo/2020-10-30-09-54-37-5823.mp4">
                </video>
                <video class="col-lg-4" height="360" controls>
                  <source src="../../assets/img/Photos%20Site%20Web/vidéo/2020-10-30-09-41-43-9858.mp4">
                </video>
                <video class="col-lg-4" height="360" controls>
                  <source src="../../assets/img/Photos%20Site%20Web/vidéo/Medaille dor pour Gammoudi aux Jeux olympiques dete de 1968 a Mexico.mp4">
                </video>

              </div>
              <div class="row">
                <app-galerie-list *ngFor="let galerieEl of galerie; let i=index" [i]="i" [galerie]="galerieEl" class="col-lg-3"  >

                </app-galerie-list>
              </div>
            </div>
            <!-- End Post Item -->

          </div>
          <!-- End Content Text-->
        </div>
      </div>
    </div>


  </section>
  <!-- End Section Area -  Content Central -->
</div>
<!-- End layout-->
