<div class="section-title-team">
  <div class="container">
    <div class="row">
      <div class="col-xl-7">
        <div class="row">
          <div class="col-md-9">
            <h1>{{ligue.name}}</h1>
            <!--ul class="general-info">
              <li *ngIf="ligue.president"><h6><strong><i class="fa fa-suitcase"></i>President</strong><br>{{ligue.president}}</h6></li>
              <li *ngIf="ligue.email"><h6><strong><i class="fa fa-mail-reply"></i>email</strong><br> {{ligue.email}}</h6></li>
              <li *ngIf="ligue.mobile"><h6><strong><i class="fa fa-phone"> </i>Téléphone</strong><br>{{ligue.mobile}}</h6></li>
              <li *ngIf="ligue.fax"><h6><strong><i class="fa fa-fax"></i>Fax</strong><br>{{ligue.fax}}</h6></li>
            </ul-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-image-team" [ngStyle]="{'background' : 'url('+ligue.image+')'}"></div>
</div>
<br>
<br>
<br>

<section id="team" class="pb-5 content-info">
  <div class="container">
    <h5 class="h1" style="color: #01d099" align="center">Bureau Fédéral de la {{ligue.name}}</h5>
    <br>
    <br>
    <div class="row">
      <app-member *ngFor="let worker of workers" [worker]="worker" class="col-lg-4 col-xl-4 col-sm-12"></app-member>
    </div>
  </div>
</section>
